<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/caso_1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="cl/pojos/Comuna.hbm.xml"/>
    <mapping resource="cl/pojos/Direccion.hbm.xml"/>
    <mapping resource="cl/pojos/Provincia.hbm.xml"/>
    <mapping resource="cl/pojos/Inscripcioncurso.hbm.xml"/>
    <mapping resource="cl/pojos/Tutor.hbm.xml"/>
    <mapping resource="cl/pojos/Region.hbm.xml"/>
    <mapping resource="cl/pojos/Estudiante.hbm.xml"/>
    <mapping resource="cl/pojos/Curso.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
